$black: #01060E;
$gradient-base: rgb(230,180,80);
$gradient: linear-gradient(145deg, rgba(230,180,80,1) 30%, rgba(194,217,76,1) 70%, rgba(194,217,76,1) 100%);
$grey: #2E323A;
$white: #FAFAFA;
$yellow: #E6B450;

a {
	color: $yellow;
	font-weight: bold;
	text-decoration: none;
}

body {
	background: $black;
	color: $white;
}
