.index-block {
  height: 400px;
  overflow: hidden;
}

.index-block--grey {
  background: $grey;
}

.index-block--yellow {
  background: $yellow;
  color: $black;
}

.index-block--tall {
  height: 500px;
}

.index-block__card {
  padding:  1rem;
  transition: .15s ease-in;

  &:focus,
  &:hover {
    background: lighten($yellow, 12%);
    box-shadow: $shadow;
    cursor: pointer;
    transform: scale(1.05);

    &:first-of-type {
      transform: translateX(3%);
    }

    &:last-of-type {
      transform: translateX(-3%);
    }
  }
}

.index-block__card__body {
  font-size: $plus-font-size-fallback;
  font-size: $plus-font-size;
  line-height: 1.65rem;
  max-width: 25rem;
}

.index-block__card__title {
  font-size: $large-font-size-fallback;
  font-size: $large-font-size;
  max-width: 20rem;
}

.index-block__card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.index-block__content {
  font-size: $plus-font-size-fallback;
  font-size: $plus-font-size;
  line-height: 1.65rem;
  margin: 0;
  max-width: 36rem;
  padding: 1rem;
}

.index-block__flex-container {
  display: flex;
    align-items: center;
}

.index-block__section {
  width: 50%;
}

.index-block__title {
  font-size: 36px;
  font-size: calc(36px + 0.25vw);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3rem;
  padding-left: 1rem;
  width: 100%;
}
