.index-hero {
  position: relative;
  width: 100%;
}

.index-hero-video {
  margin: 0;
  padding: 0;
  max-height: 502px;
  object-fit: cover;
  width: 100%;
}

.index-hero-video-container {
  margin: 0;
  padding: 0;
}

.index-hero-caption-container {
  background: rgba(25, 25, 25, 0.41);
  display: flex;
    align-items: center;
    justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.index-hero-caption {
  padding-right: 3rem;
  text-align: right;
  text-shadow: $shadow;
  width: 100%;

  h1, h2 {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 64px;
    font-size: calc(64px + 0.25vw);
  }

  h2 {
    font-size: 36px;
    font-size: calc(36px + 0.25vw);
  }
}
