.logo-container {
  margin: 0;
  max-width: 58px;
  padding: 0;
}

.nav {
  background: $black-smoke;
  display: flex;
    align-items: center;
    justify-content: space-between;
  font-size: $plus-font-size-fallback;
  font-size: $plus-font-size;
  height: 75px;
  padding: 0.25rem 0.75rem;
}

.nav-link {
  display: inline-block;
}

.nav-link-anchor {
  color: $white;
  font-weight: bold;
  margin-right: 0.5rem;

  &:focus,
  &:hover {
    color: $yellow;
  }
}
