.logo-container {
  margin: 0;
  max-width: 75px;
  padding: 0;
}

.nav {
  background: $black-smoke;
  box-shadow: $shadow;
  display: flex;
    align-items: center;
    justify-content: space-between;
  font-size: $plus-font-size-fallback;
  font-size: $plus-font-size;
  height: 75px;
  padding: 0.25rem 0.75rem;
}

.nav__links-list__item {
  display: inline-block;
}

.nav__links-list__item__anchor {
  color: $white;
  font-weight: bold;
  margin-right: 0.5rem;

  &:focus,
  &:hover {
    color: $yellow;
  }
}

.nav__menu-button {
  background: transparent;
  border: none;
  color: $white;
  font-family: $heading-font;
  font-size: $plus-font-size-fallback;
  font-size: $plus-font-size;
  font-weight: 700;
  padding: 0.5rem 1rem;
  z-index: 100;

  &:focus,
  &:hover {
    background: $grey;
    border-radius: 33px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .nav__links-list {
    background: rgba($black, 0.95);
    border-left: 4px solid $grey;
    box-shadow: $shadow;
    display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
    z-index: 10;
  }

  .nav__links-list__item {
    display: block;
    font-size: 36px;
    font-size: calc(36px+ 0.25vw);
    padding: 0.5rem 1rem;
    transition: .1s ease-in;
    width: 100%;

    &::after {
      background: $white;
      border-radius: 2px;
      content: "";
      display: block;
      height: 3px;
      margin: 0.25rem;
    }
  }

  .nav__links-list__item__anchor {
    margin-left: 1rem;
  }

  .nav__menu-button {
    position: fixed;
    top: 2%;
    right: 2%;
  }
}