<article class="index-block">
  <h2 class="index-block-title">About</h2>
  <section class="index-block-section">
    <p class="index-block-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  <section class="index-block-section">
    <h4>Education</h4>
    <ul class="index-block-education-list">
      <li class="index-block-education-list-item">
        <strong>California State University, Northridge</strong>
        <br>
        B.S. Computer Information Technology &mdash; Minor in Art (Web/Graphic Design)
        <br>
        Graduated May 2018
      </li>
    </ul>

    <h4>Professional Experience</h4>
    <ul class="index-block-experience-list">
      <li class="index-block-experience-list-item">
        <strong>Trucking Unlimited, LLC</strong>
        <br>
        Web Engineer, February 2018 &ndash; Current
      </li>

      <li class="index-block-experience-list-item">
        <strong>ACTA MoreToyGuns.com</strong>
        <br>
        E-Commerce Manager, October 2013 &ndash; January 2018
      </li>
    </ul>
  </section>
</article>
