<article class="index-block index-block--tall">
  <h2 class="index-block__title">About</h2>
  <div class="index-block__flex-container">
    <section class="index-block__section">
      <p class="index-block__content">{{ content.about.content | safe }}</p>
    </section>

    <section class="index-block__section">
      <h4 class="index-block__list-title">Education</h4>
      <ul class="index-block__education-list">
        {% for item in content.about.education %}
        <li class="index-block__education-list__item">
          <strong>{{ item.schoolName | safe }}</strong>
          <br>
          {{ item.degreeOrCertification | safe }}
          <br>
          {{ item.completionDate | safe }}
        </li>
        {% endfor %}
      </ul>

      <h4 class="index-block__list-title">Professional Experience</h4>
      <ul class="index-block__experience-list">
        {% for item in content.about.professionalExperience %}
        <li class="index-block__experience-list__item">
          <strong>{{ item.companyName | safe }}</strong>
          <br>
          {{ item.positionOrTitle | safe }}, {{ item.startDate | safe }} &mdash; {{ item.endDate | safe }}
        </li>
        {% endfor %}
      </ul>

      <button class="index-block__resume-button">Download Resume</button>
    </section>
  </div>
</article>
