<header class="index-hero">
  <figure class="index-hero__video-container">
    <video muted autoplay loop class="index-hero__video">
      <source src="https://images.ubben.co/web-banner-video.mp4" type="video/mp4">
      Please switch to a browser that isn't from the 90's!
    </video>
  </figure>

  <section class="index-hero__caption-container">
    <div class="index-hero__caption">
      <h1>Brandon Ubben</h1>
      <h2>Web Developer</h2>
    </div>
  </section>
</header>
