<header class="index-hero">
  <figure class="index-hero-video-container">
    <video autoplay="yes" class="index-hero-video">
      <source src="videos/web-banner-video.mp4" type="video/mp4">
      Please switch to a browser that isn't from the 90's!
    </video>
  </figure>

  <section>
    <h1>Brandon Ubben</h1>
    <h3>Web Developer</h3>
  </section>
</header>
