<article class="index-block index-block--grey">
  <h2 class="index-block__title">Where to find me</h2>
  <div class="index-block__flex-container">
    <section class="index-block__section">
      <p class="index-block__content">{{ copy.contact.content | safe }}</p>
    </section>

    <section class="index-block__section">
      <ul class="index-block__social-media-list">
      {% for socialMediaLink in socialMediaLinks %}
        <li class="index-block__social-media-list__item">
          <strong class="index-block__social-media-list__item__channel">{{ socialMediaLink.channel }}:</strong>
          <br>
          <a class="index-block__social-media-list__item__link" href="{{ socialMediaLink.url }}" target="_blank" rel="noopener noreferrer">{{ socialMediaLink.vanityUrl }}</a>
        </li>
      {% endfor %}
      </ul>
    </section>
  </div>
</article>
