<header class="index-hero">
  <figure class="index-hero-video-container">
    <video autoplay loop class="index-hero-video">
      <source src="videos/web-banner-video.m4v" type="video/mp4">
      Please switch to a browser that isn't from the 90's!
    </video>
  </figure>

  <section class="index-hero-caption-container">
    <div class="index-hero-caption">
      <h1>Brandon Ubben</h1>
      <h2>Web Developer</h2>
    </div>
  </section>
</header>
