<nav class="nav">
  <figure class="logo-container">
    {% include './../assets/images/logo.svg' %}
  </figure>

  <ul class="nav__links-list">
  {% for navLink in navLinks %}
    <li class="nav__links-list__item">
      <a class="nav__links-list__item__anchor" href="{{ navLink.href }}">{{ navLink.link }}</a>
    </li>
  {% endfor %}
  </ul>

  <button class="nav__menu-button">MENU</button>
</nav>
