---
title: Index | Ubben.co
keywords: brandon ubben, ubben, web developer blog, javascript blog, vim blog
description: Personal blog and point of contact for Brandon Ubben.
---

extends layouts/primary

block content
  h1 Hello World!
