<!doctype html>
<html lang="en">

  {% include 'head.njk' %}

  <body>

    {% include 'nav.njk' %}

    <main class="container container--blog-post">

      {{ content | safe }}

      {% include 'post-footer.njk' %}
    </main>

    {% include 'footer.njk' %}

  </body>

</html>
